@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-rose: #f0ebfe;
  --color-purple: #5115f7;
  --color-base-50: #f5f5f5;
  --color-base-100: #e9e9e9;
  --color-base-200: #d9d9d9;
  --color-base-300: #c4c4c4;
  --color-base-400: #9d9d9d;
}

body {
  font-family: var(--font-lato);
}

h1 {
  @apply text-[2.25rem] leading-10.75 md:text-[3.75rem] 2xl:text-[4.5rem] md:leading-18 2xl:leading-21.5 tracking-normal;
}

h2 {
  @apply text-[3.75rem] leading-18 tracking-normal;
}

h3 {
  @apply text-[3rem] leading-14 tracking-normal;
}

h4 {
  @apply text-[2.25rem] leading-10.75 tracking-normal;
}

h5 {
  @apply text-[1.5rem] leading-7 tracking-normal;
}

h6 {
  @apply text-[1.125rem] leading-7 tracking-normal;
}

p {
  @apply text-[1rem] lg:text-[1.125rem] leading-7.5 tracking-normal font-light;
}
